img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.about-us-section {
  /* Positioning */

  /* Box model */

  /* Typography */

  /* Visual */

  /* Misc */
}

.about-us-container {
  width: 375px;
  margin: 0 auto;
}

.about-us-wrapper {
  /* Positioning */
  padding: 64px 16px;
  /* Box model */

  /* Typography */

  /* Visual */
  background: #f7faff;
  /* Misc */
}

.about-us-statisctic-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-titel {
  /* Positioning */
  margin-bottom: 30px;
  left: 50px;
  /* Box model */

  /* Typography */
  font-family: "Roboto", sans-serif;
  color: #0a224a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /* Visual */

  /* Misc */
}

.special {
  color: #0a224a;
  position: relative;
}

.special::before {
  content: "";
  left: -50px;
  bottom: 10px;
  width: 30px;
  height: 1px;
  background-color: #0a224a;
  position: absolute;
  
}

.about-us-slogan {
  /* Positioning */
  margin-bottom: 30px;
  /* Box model */

  /* Typography */
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;

  /* Visual */

  /* Misc */
}

.about-us-descrition {
  /* Positioning */
  margin-bottom: 30px;
  /* Box model */

  /* Typography */
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /* Visual */

  /* Misc */
}

.about-us-statistic-list {
  /* Positioning */

  /* Box model */
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 170px;
  /* Typography */

  /* Visual */
  list-style: none;
  /* Misc */
}

.about-us-list-item-span {
  /* Positioning */

  /* Box model */

  /* Typography */
  color: #0a224a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;

  /* Visual */

  /* Misc */
}

.about-us-list-item-text {
  /* Positioning */

  /* Box model */

  /* Typography */
  color: #0a224a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /* Visual */

  /* Misc */
}

.about-us-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
